* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4fe;
    color: #333;
    line-height: 1.6;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: #072548;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header img {
    width: 250px;
    border-radius: 10px;
    margin-top: 10px;
}